<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GuionMaker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="" routerLink="">Inicio</a></li>
                <li role="presentation" routerLinkActive="active"><a href="" routerLink="/proyectos">Proyectos</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="/escenas">Guiones</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="/biblias">Biblias literarias</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>