<div class="well">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">Inicia sesión en GuionMaker</h1>
    </div>
    <div class="panel-body">
      <form (ngSubmit)="onLogin()">
        <div class="alert alert-danger" *ngIf="error">
          <p><i class="glyphicon glyphicon-remove"></i> La combinación de usuario y contraseña introducidos no existe, por lo que no has podido iniciar sesión.</p>
        </div>
        <p>Para comenzar a trabajar en GuionMaker debes iniciar sesión con tu cuenta:</p>
        <table class="table table-responsive">
          <tr>
            <td><label for="usuario">Usuario <i class="glyphicon glyphicon-asterisk" *ngIf="!formLogin.controls['nombreUsuario'].valid"></i></label></td>
            <td><input type="text" [(ngModel)]="peticion.nombreUsuario" name="usuario" id="usuario" class="form-control" [formControl]="formLogin.controls['nombreUsuario']" /></td>
          </tr>
          <tr>
            <td><label for="pass">Contraseña <i class="glyphicon glyphicon-asterisk" *ngIf="!formLogin.controls['pass'].valid"></i></label></td>
            <td><input type="password" [(ngModel)]="peticion.pass" name="pass" id="pass" class="form-control" [formControl]="formLogin.controls['pass']" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit" class="btn btn-primary" [disabled]="!formLogin.valid">Iniciar sesión</button>
            </td>
          </tr>
        </table>
        <p>¿Aun no tienes cuenta? Deberías probar <a href="/registro">a crearte una.</a></p>
      </form>
    </div>
  </div>
</div>