<div class="monkeyButton" data-toggle="modal" data-target="#mdlDiccionarios"><p><i class="glyphicon glyphicon-info-sign"></i> ¿Necesitas ayuda lingüistica?</p></div>
<div class="modal fade" id="mdlDiccionarios" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Búsqueda de acepciones o sinónimos</h4>
      </div>
      <div class="modal-body">
        <table class="table table-responsive">
          <tr>
            <td>
              <h4>Búsqueda de significados</h4>
              <div class="row">
                <div class="col-md-2">
                  <label for="palabraAcepcion">Palabra: </label>
                </div>
                <div class="col-md-7">
                  <input type="text" id="palabraAcepcion" [(ngModel)]="palabraAcepcion" class="form-control" />
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-primary" (click)="cambiarURLAcepciones()"><i class="glyphicon glyphicon-search"></i> Buscar significado</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Búsqueda de sinónimos</h4>
              <div class="row">
                <div class="col-md-2">
                  <label for="palabraSinonimo">Palabra: </label>
                </div>
                <div class="col-md-7">
                  <input type="text" id="palabraSinonimo" [(ngModel)]="palabraSinonimo" class="form-control" />
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-primary" (click)="cambiarURLSinonimos()"><i class="glyphicon glyphicon-search"></i> Buscar sinónimos</button>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>