doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/semantic-ui/semantic.min.css')
  body
    block content
    block footer
    block scripts
    script(src='/libs/jquery/jquery.min.js')
    script(src='/libs/semantic-ui/semantic.min.js')
    script(src='/libs/angular/angular.min.js')
