<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            Colaboradores en el proyecto
        </h4>
    </div>
    <div class="panel-body">
        <div *ngIf="usuarioNoEncontrado" class="alert alert-danger">
          <p>El email introducido no es el de ninguno de los usuarios de GuionMaker. Prueba con otro.</p>
        </div>
        <div *ngIf="emailInvalido" class="alert alert-danger">
          <p>El email introducido es inválido</p>
        </div>
        <label for="email">E-mail</label>
        <div class="row">
            <div class="col-md-6">
                <input type="email" class="form-control" id="email" [(ngModel)]="email" />
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success" (click)="onCrearColaboracion()"><i class="glyphicon glyphicon-plus-sign"></i> Añadir</button>
            </div>
        </div>
        <div class="row mgn-top-1">
            <div class="col-md-8">
                <label for="listaColaboradores">Lista de colaboradores asociados</label>
                <div class="list-group" *ngIf="gestorColaboraciones.colaboraciones != undefined && gestorColaboraciones.colaboraciones.length > 0" id="listaColaboradores">
                    <div class="list-group-item" *ngFor="let colaboracion of gestorColaboraciones.colaboraciones">
                      <div class="row">
                        <div class="col-md-12">
                          {{colaboracion.email}} - {{colaboracion.fecha}}
                          <a role="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#mdlBorrado" (click)="gestorColaboraciones.prepararAEliminar(colaboracion)"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                      </div>
                      <div class="row mgn-top-1">
                        <div class="col-md-3">
                          <label for="permisos">Permisos del colaborador</label>
                          <select name="permisos" id="permisos" class="form-control" [(ngModel)]="colaboracion.permisos" (change)="gestorColaboraciones.actualizar(colaboracion)">
                            <option *ngFor="let permiso of tiposPermiso" value="{{permiso.id}}">{{mostrarNombrePermiso(permiso)}}</option>
                          </select>
                        </div>
                        <div class="col-md-9"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="alert alert-info" *ngIf="gestorColaboraciones.colaboraciones == undefined || gestorColaboraciones.colaboraciones.length == 0">
            <i class="glyphicon glyphicon-info"></i> No se han encontrado colaboradores asociados al proyecto.
        </div>
    </div>
</div>