<confirmacion-guardado [oConfirm]="confirmacionGuardado"></confirmacion-guardado>
<div class="well" *ngIf="escena != undefined">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 text-right">
                    <h4>
                        <label for="escena.titulo">Título:</label>
                    </h4>
                </div>
                <div class="col-md-8">
                    <input type="text" [(ngModel)]="escena.titulo" class="form-control mg-btm" />
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div *ngIf="detalleLiterario != undefined" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" href="#detalleLiterario" aria-expanded="false" aria-controls="detalleLiterario">
                    Edición literaria de la escena '{{escena.titulo}}' (click para ocultar/mostrar)
                </a>
            </h3>
        </div>
        <div class="panel-body collapse in" id="detalleLiterario">
            <table class="table table-responsive">
                <tr>
                    <td>
                        <table class="table table-borderless">
                            <tr>
                                <td class="col-md-4"><select class="form-control"><option>Personajes...</option></select></td>
                                <td class="col-md-4"><select class="form-control"><option>Escenarios...</option></select></td>
                                <td class="col-md-4"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><ng2-summernote lang="es-ES" [(ngModel)]="detalleLiterario.texto"></ng2-summernote></td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="detalleTecnico != undefined" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" href="#detalleTecnico" aria-controls="detalleTecnico" aria-expanded="false">
                    Edición técnica de la escena '{{ escena.titulo }}' (click para ocultar/mostrar)
                </a>
            </h3>
        </div>
        <div class="panel-body collapse in" id="detalleTecnico">
            <table class="table table-responsive">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <a href="" class="thumbnail">
                                    <div *ngIf="!imagenSubida()">
                                        <i class="glyphicon glyphicon-picture" *ngIf="!imagenSubida()"></i> No existe una imagen asociada al detalle técnico.
                                    </div>
                                    <img [src]="base64Imagen" *ngIf="imagenSubida()" />
                                </a>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input type="file" class="form-control" id="imgTecnica" accept=".jpg,.png,.jpeg" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <button type="button" class="btn btn-success" (click)="onSubidaImagen()"><i class="glyphicon glyphicon-upload"></i></button>
                                <button type="button" class="btn btn-danger" (click)="borrarImagen()" *ngIf="imagenSubida()"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ng2-summernote lang="es-ES" [(ngModel)]="detalleTecnico.texto"></ng2-summernote>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <botones-guardado [oBotonesGuardado]="botonesGuardado" (onAccionGuardado)="onAccionGuardado($event)"></botones-guardado>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>