<confirmacion-guardado [oConfirm]="confirmacionGuardado"></confirmacion-guardado>
<div class="well" *ngIf="escena != undefined">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 text-right">
                    <h4>
                        <label for="escena.titulo">Título:</label>
                    </h4>
                </div>
                <div class="col-md-8">
                    <input type="text" [(ngModel)]="escena.titulo" class="form-control mg-btm" />
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <input type="checkbox" [(ngModel)]="escena.noche" id="noche" />&nbsp;<label for="noche">¿Sucede de noche?</label>
                    <input type="checkbox" [(ngModel)]="escena.exterior" id="exterior" />&nbsp;<label for="exterior">¿Sucede en exterior?</label>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10">
                <input [(ngModel)]="activarSugerencias" (change)="toggleSugerencias()" type="checkbox" id="sugerencias" /> <label for="sugerencias">Mostrar sugerencias</label>
              </div>
            </div>
        </div>
    </div>
    <div *ngIf="detalleLiterario != undefined" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" href="#detalleLiterario" aria-expanded="false" aria-controls="detalleLiterario">
                    Edición literaria de la escena '{{escena.titulo}}' (click para ocultar/mostrar)
                </a>
            </h3>
        </div>
        <div class="panel-body collapse in" id="detalleLiterario">
            <table class="table table-responsive">
                <tr>
                    <td><ng2-summernote lang="es-ES" [(ngModel)]="detalleLiterario.texto" [config]="ng2sconfig"></ng2-summernote></td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="detalleTecnico != undefined" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" href="#detalleTecnico" aria-controls="detalleTecnico" aria-expanded="false">
                    Edición técnica de la escena '{{ escena.titulo }}' (click para ocultar/mostrar)
                </a>
            </h3>
        </div>
        <div class="panel-body collapse in" id="detalleTecnico">
            <table class="table table-responsive">
                <tr>
                    <td>
                      <gestor-subida [fichero]="fichero"></gestor-subida>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ng2-summernote lang="es-ES" [(ngModel)]="detalleTecnico.texto" [config]="ng2sconfig"></ng2-summernote>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <botones-guardado [oBotonesGuardado]="botonesGuardado" (onAccionGuardado)="onAccionGuardado($event)"></botones-guardado>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>