body {
  padding-top: 70px;
}

.mg-btm {
  margin-bottom: 20px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
  border: none;
}

.fixedTop {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 9998;
  width: 100%;
  max-height: 50%;
  overflow: auto;
  text-align: center;
}

.pdn-1 {
  padding: 1em;
}

.pdn-btm-1 {
  padding-bottom: 1em;
}

.mgn-top-1 {
  margin-top: 1em;
}

.imagenSubida {
  width: auto;
  max-height: 20em;
}

.modal {
  z-index: 9999;
}

.rojoCorazon {
  color: #dd0000;
}

.txtTituloPersonaje {
  margin-left: 42.86%;
  text-transform: uppercase;
}

.txtAcotacion {
  margin-left: 35.71%;
}

.txtDialogo {
  margin-left: 28.57%;
  max-width: 40%;
  word-wrap: break-word;
}

.txtNormal {
  margin-left: 16.7%;
}

.note-editor {
  font-family: 'Courier New', 'sans-serif';
}