<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Biblia literaria del proyecto</h2>
  </div>
  <div class="panel-body">
    <p>En esta sección tienes acceso a los diferentes elementos que componen la biblia literaria en GuionMaker.</p>
    <ul class="list-group">
      <li class="list-group-item"><i class="glyphicon glyphicon-user"></i> <a routerLink="personajes">Listado de personajes</a></li>
      <li class="list-group-item"><i class="glyphicon glyphicon-picture"></i> <a routerLink="escenarios">Listado de escenarios</a></li>
    </ul>
  </div>
</div>