<confirmacion-guardado [oConfirm]="confirmacionGuardado"></confirmacion-guardado>
<ayuda-diccionarios></ayuda-diccionarios>
<div class="well" *ngIf="elemento != undefined">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Detalle de personaje: {{elemento.nombre}}</h2>
    </div>
    <div class="panel-body">
      <table class="table table-responsive">
        <tr>
          <td>
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="elemento.nombre" />
          </td>
          <td>
            <label for="edad">Edad</label>
            <input type="number" class="form-control" id="edad" [(ngModel)]="elemento.edad" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="procedencia">Procedencia</label>
            <input type="text" class="form-control" id="procedencia" [(ngModel)]="elemento.procedencia" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="biografia">Biografía</label>
            <ng2-summernote id="biografia" [(ngModel)]="elemento.biografia" [config]="ng2config"></ng2-summernote>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="descripcionFisica">Descripción física</label>
            <ng2-summernote id="descripcionFisica" [(ngModel)]="elemento.descripcionFisica" [config]="ng2config"></ng2-summernote>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="descripcionPsicologica">Descripción psicológica</label>
            <ng2-summernote id="descripcionPsicologica" [(ngModel)]="elemento.descripcionPsicologica" [config]="ng2config"></ng2-summernote>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="imagen">Imagen del personaje</label>
            <gestor-subida id="imagen" [fichero]="fichero"></gestor-subida>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <botones-guardado [oBotonesGuardado]="botonesGuardado" (onAccionGuardado)="onAccionGuardado($event)"></botones-guardado>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

