extends ..\layout

block breadcrumb
    div(class='ui breadcrumb')
        a(class='section' href='/') GuionMaker
        i(class='right angle icon divider')
        a(class='section' href='/proyectos') Gestión de proyectos
        i(class='right angle icon divider')
        span(class='active section') #{model.nombre}
block content
    div(class='ui message')
        div(class='header') Sinopsis
        p #{model.sinopsis}
        div(class='header') Usuarios
        p #{model.usuarios}
    div(class='ui relaxed divided list')
        div(class='item')
            i(class='file text large icon')
            a(href='') Guión literario
        div(class='item')
            i(class='file video outline large icon')
            a(href='') Guión técnico
        div(class='item')
            i(class='book large icon')
            a(href='') Biblia literaria
        div(class='item')
            i(class='setting large icon')
            a(href='') Detalles del proyecto
        div(class='item')
            i(class='users large icon')
            a(href='') Gestionar usuarios
    